
body {
    
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/background1.jpg");
    background-repeat: no-repeat;
    margin: 5em;
}

select,
option {
    display: none;
}

h2 {
    color: white;
    padding: 0em 0em;
}

.cabecalho__logo img {
    width: 150px;
    height: 50px;
}

.material-symbols-outlined {
    color: white;
    font-size: 48px
}

.descricao{
    text-align: center; 
}

.hidden{
    display: none;
}

@media screen and (max-width: 1600px) {
    .lista {
        overflow-x: scroll;
    }

    h2 {
        color: white;
        padding-left: 0em;
        padding-right: 0em;
    }

}