body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/background1.jpg");
    background-repeat: repeat;
    margin: 3em;
    justify-content: left;
}

h2 {
    color: white;
}

.cabecalho__logo {
    padding-bottom: 2em;
}

.cabecalho__logo img {
    width: 150px;
    height: 50px;
}

.frase.descricao {
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 2em;
}

.frase_text {
    padding-top: 10em;
    padding-left: 10em;
}

.descricao.titulo {
    font-size: 40px;
    font-style: italic;
}

.descricao.frase {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.frase.text {
    text-align: start;
}

.frase_text .descricao {
    padding-bottom: 1em;
}

a{
    display: flex;
    flex-direction: column-reverse;
}
.button_frase_nova{
  background-image: linear-gradient(92.88deg, #80c1db 9.16%, #40adbb 43.89%, #3bafd3 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 50rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

footer{
    padding-top: 5em;
    display: block;
    justify-content: center;
}

.button_frase_nova:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media screen and (max-width: 1600px) {
    .lista {
        overflow-x: scroll;
    }
    ul{
        flex-direction: column-reverse;
    }

    .poster{
        width: 20em;
        height: 30em;
    }
    

    h2 {
        color: white;
        padding-left: 0em;
        padding-right: 0em;
    }

    .frase_text{
        padding: 2em 0 0 0;
    }

    .button_frase_nova {
        padding: 0 2.6rem;
      }

    footer{
        display: flex;
        justify-content: left;
    }
}